.full-logo {
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo-main {
    margin-bottom: 0;
}
.upper-bar-line-height {
    line-height: 50px;
    border-top: 1px solid lightgray;
}
.padding-33 {
    padding-top: 3px;
}

.logo-main-span {
    padding-left: 2px;
    letter-spacing: 3.9px;
}

#sidebar {
	width: 300px;
	background: #2D3349;
	color: #fff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s; 
	min-height: 100%;
}
#sidebar.active {
	margin-left: -300px; 
}
#sidebar ul li {
	font-size: 16px; 
}
#sidebar ul li > ul {
	margin-left: 10px; 
}
#sidebar ul li > ul li {
	font-size: 14px; 
}
#sidebar ul li a {
	padding: 10px 0;
	display: block;
	color: rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}
#sidebar ul li a:hover {
	color: #03DAC6; 
}
#sidebar ul li.active > a {
	color: #03DAC6; 
}
@media (max-width: 991.98px) {
	#sidebar {
		margin-left: -300px; 
	}
	#sidebar.active {
		margin-left: 0; 
	} 
}

a[data-toggle="collapse"] {
	position: relative; 
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%); 
}

	@media (max-width: 991.98px) {
#sidebarCollapse span {
	display: none; } 
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto { padding: 0;}
.row {
  margin-right: 0;
  margin-left: 0;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 0;
    padding-left: 0;
}