/* main */
body {
	/* background-color: #121212; */
	background-color: #6200EE;
}
.main-header a {
	text-decoration: none;
	color: black;
}
.main-color {
	color: #ecf0f1;
}
.welcome {
	color: #ecf0f1;
}
/* end main */

/* container */
.my-reg-container {
	background-color: #ecf0f1;
	box-shadow: inset 0 0 20px #bdc3c7;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 600px) {
	.my-reg-container {
		width: 600px;
		margin-right: auto;
		margin-left: auto;
	}
}
/* end container */
/* form */
form label {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.6);
}
form input {
	font-size: 18px;
}
form p {
	font-size: 12px;
}
/* End form */
/* foot */