@font-face {
  font-family: Digital-7;
  src: url("../fonts/digital-7.ttf");
}
body {
    background-image: url("../img/calculator-1680905_1920.jpg");
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    font-family: "Digital-7";
}

.darken-background {
    background-color: rgba(0,0,0,.4);
}
header a {
    color: black;
    
}
header a:hover {
    color: black;
    text-shadow: 0 0 2px white;
    text-decoration: none;
}
#screen {
    background-color: #121212;
    color: #ffffff;
    font-size: 60px;
}
#calc > div > div {
    
    font-size:25px;
}

.calc-button, .clear-button, .change-button {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: beige;
    margin: 0;
    z-index: 1001;
    cursor: pointer;
}
.equal-button {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #BB86FC;
    margin: 0;
    z-index: 1001;
    cursor: pointer;
}
.no-button {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: lightgray;
    margin: 0;
    z-index: 1001;
    cursor:not-allowed;
}
.calc-button:hover, .clear-button:hover, .change-button:hover {
    box-shadow:inset 0 0 5px 5px lightgray;
}
.equal-button:hover {
    background-color: #a660fc !important;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto { padding: 0;}